name: publish2

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main
  #   tags:
  #     - '@.*\/.*@[0-9]+\.[0-9]+\.[0-9]+'
        # https://regex101.com/r/QdT1jO/1

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          filter: tree:0
          fetch-depth: 0

      
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      
      # This enables task distribution via Nx Cloud
      # Run this command as early as possible, before dependencies are installed
      # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
      # Uncomment this line to enable task distribution
      # - run: bunx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="build"

      
      - run: bun install
      - uses: nrwl/nx-set-shas@v4


      # Prepend any command with "nx-cloud record --" to record its logs to Nx Cloud
      # - run: bun nx-cloud record -- echo Hello World
      - run: bun nx run-many -t lint test build typecheck
      # Nx Cloud recommends fixes for failures to help you get CI green faster. Learn more: https://nx.dev/ci/features/self-healing-ci
      - run: bun nx fix-ci
        if: always()
